<table class="table">
  <thead>
    <tr>
      <th colspan="2">
        <h1>Mostrar Marcas</h1>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Nome:</th>
      <td><%= @marca.nome %></td>    
    </tr>
  </tbody>
</table>
<div class="text-right">
  <a href="<%= marcas_path %>" class="btn btn-default">
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  </a>
  <a href="<%= edit_marca_path(@marca) %>" class="btn btn-primary">
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  </a>
</div>

